body {
  margin: 0;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    border-left: solid;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 1s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/*Landing Page*/

#landingPagePhoto {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60vw;
}

#arrow {

}

#landingPagePhoto img {
  width:100%;
  margin-left: -600px; 
  position: fixed;
}

#landingPageContent {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40vw;
  background-color: white;
}

#landingPageContentBox {
width: 30vw;
height: 500px;
margin-top: 150px;
margin-left: 50px;
position: fixed;
justify-content: left;
}

#landingPageContentBox h1, h2, p{
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 3em;
}

#landingPageContentBox h2 {
  font-size:1.25em;
}

#landingPageContentBox p {
  font-size:1em;
}


/*Media Queries*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}