@mixin homefont{
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
}

.aboutHolder{
    width: 100vw;
    height: 100vh;     
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: black;
    overflow: hidden;
}

.about{
    //margin: auto;
    // width: calc(100%-50px);
    max-width: 1000px;
    //min-width: 1000px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    //justify-content: flex-start;
    //align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    //background-color: green;

    .aboutTop{
        height: 200px;
        //min-width: 600px;
        width: 100%;
        margin-top: 100px;
        // padding-right: 100px; 
        display: flex;
        flex-direction: row;
        align-items: center;
        //background-color: aquamarine;

        .aboutPic{
            height: 100%;
        }

        h1{
            @include homefont();
            font-size: 4em;
            margin: auto;
            //padding-left: 50px;
        }

    }

    .aboutBottom{
        //min-width: 530px;
        width: 100%;
        display: flex;
        flex-direction: row;
        //background-color: aquamarine;

        .aboutText {
            width: 630px;
            padding: 10px;
            padding-right: 0px;
            //background-color: pink;
            margin-left: auto;
            margin-right: auto;
            
            h1{
                @include homefont();
            }

            p {
                color: white;
                text-transform: none;
            }
        }
        
    .amSkills {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-transform: none;
        min-width: 140px;
        list-style-type: none;
        //background-color: red;
        padding: 10px;

        h1{
            @include homefont();
        }

        }
    }   
}

//mobile optimised
.mobileAbout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;

    .aboutTop{
        height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .aboutPic{
            height: 80%;
        }

        h1{
            @include homefont();
            font-size: 2em;
            padding-left: 50px;
        }

    }

    .aboutBottom{
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;

        .aboutText {
            width: 100vw;
            h1{
                @include homefont();
            }

            p {
                color: white;
                text-transform: none;
            }
        }
        
    .amSkillsHolder {   
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 80%;
        justify-content: space-around;
        width: 90%;

        .amSkills {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-transform: none;
            width: 300px;
            list-style-type: none;

            h1{
                @include homefont();
            }

            }
    }
    }   
}