@mixin homefont{
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
}

.contactHolder{
    height: 100vh;
    width: 100vw;     
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    overflow: hidden;

    .contact{
        width: 700px;
        height: 370px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border: solid 1px;
        border-color: white;
        margin: auto;
        border-radius: 20px;
        @include homefont();

        p{
            font-size: 3em;
            margin: 0px;
            filter: saturate(0); 
        }

        a{
           color: white; 
        }

    .socialAll{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .socialImages{
        height: 100px; 
        width: auto;
        filter: invert(1);
    }
    }   

    .mobileContact{
        min-width: 95vw;
        height: 370px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border: solid 1px;
        border-color: white;
        border-radius: 20px;
        @include homefont();

        p{
            font-size: 2em;
            margin: 0px;
            filter: saturate(0);
        }

        p2{
            font-size: 0.8em;
            margin: 5px;
            white-space: nowrap;
            filter: saturate(0); 
        }

        a{
           color: white; 
        }

    .socialAll{
        height: 100px;
        width: 80%;
        display: flex;
        justify-content: space-around;
    }

    .socialImages{
        height: 50px; 
        width: auto;
        filter: invert(1);
    }
    }

}